<template>
<div id="messages" class="card w-75 mx-auto">
  <h5 class="card-header">
    Messages
  </h5>
  <div id="messages-content" style="height: 8rem; overflow-y: scroll;" class="card-body">
    <li v-for="message in displayMessages">{{message}}</li>
  </div>
</div>
</template>

<script>
export default {
  name: "Messages.vue",
  props: {
    messages: {default: [], type: Array},
  },
  computed: {
    displayMessages() {
      return this.messages.slice().reverse();
    }
  }
}
</script>

<style scoped>

</style>