<template>

  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <status :character="player" :key="playerKey" v-if="player"></status>
      <div class="row">
        <div class="col-9">
          <div id="content" class="text-center"></div>
        </div>
        <div class="col-3 pl-1">
          TODO: Hotkeys
        </div>
      </div>
    </div>
  </div>

</template>

<script>

import {startup} from "../game";
import Status from "./Status.vue";

export default {
  name: "RotjsView",
  components: {Status},
  data() {
    return {
      messages: [],
      player: null,
      playerKey: "",
    }
  },
  methods: {
    addMessage(msg) {
      this.messages.push(msg.text);
      this.$emit('new-messages', this.messages);
    },
    endOfTurn() {
      this.playerKey = this.player.statusKey();
    }
  },
  mounted(component) {
    this.player = startup();
    this.player.messages.sub(this.addMessage);
    this.playerKey = this.player.statusKey();
    this.player.gm.endOfTurn.sub(this.endOfTurn);
  }
}
</script>

<style scoped>

</style>