<template>
  <div class="row" v-if="character">
    <div class="col-4">
      {{character.name}}, level {{ character.level }}
    </div>
    <div class="col-2">
      HP: {{ hp() }}/{{ character.maxHp.value }}
    </div>
    <div class="col-2">
      DB: {{ character.demonicBlood }}
    </div>
    <div class="col-4">
      Monsters Remaining: 0
    </div>
  </div>
  <div class="row" v-if="character">
    <div class="col">
      Conditions:
    </div>
  </div>
</template>

<script>
export default {
  name: "Status",
  props: {
    character: {
      type: Object,
      default: null,
    },
  },
  methods: {
    hp() { return this.character.hp }
  },
  computed: {
    zhp() { return this.character.hp }
  }
}
</script>

<style scoped>

</style>