<template>
  <version semver="0.0.2"></version>
  <controls></controls>

  <rotjs-view
      @new-messages="updateMessages"
  ></rotjs-view>

  <messages :messages="messages"></messages>
</template>

<script>
import RotjsView from "./VueComponents/RotjsView.vue";
import Controls from "./VueComponents/Controls.vue";
import Version from "./VueComponents/Version.vue";
import Messages from "./VueComponents/Messages.vue";
export default {
  components: {Version, Controls, RotjsView, Messages},
  data() {
    return {
      messages: [],
    }
  },
  methods: {
    updateMessages(msg) {
      this.messages = msg;
    }
  }
}
</script>